/* src/components/HeroSection/HeroSection.css */
.hero-section {
  min-height: 100vh;
  background-color: var(--background-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 80px; /* Espacio para el header fijo */
}

.hero-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 80px 40px 110px;
  width: 100%;
  flex: 1;
}

.hero-content {
  max-width: 50%;
}

.hero-title {
  margin: 0 0 var(--spacing-sm) 0;
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

.subtitle {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
}

.tagline {
  margin-bottom: 24px;
  color: var(--primary-color);
  font-size: 18px;
}

.hero-description {
  font-size: 18px;
  line-height: var(--line-height-base);
  margin-bottom: var(--spacing-md);
  max-width: 500px;
}

.hero-buttons {
  display: flex;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-md);
}

/* Hero image */
.hero-image {
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Hero bottom */
.hero-bottom {
  width: 100%;
  padding: var(--spacing-xxl) var(--spacing-sm);
  text-align: center;
  margin-top: auto;
}

.hero-tagline {
  font-size: 50px;
  font-weight: var(--font-weight-medium);
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--primary-color);
  line-height: 1.1;
  position: relative;
  overflow: hidden;
  padding: 10px 0; /* Espacio para el texto rotado */
}

/* Estilos para la animación SplitType */
[animate] {
  overflow: hidden;
}

[animate] .word {
  display: inline-block;
  overflow: hidden;
  transform-origin: bottom left;
  opacity: 0;
  visibility: hidden;
}

[animate] .char {
  display: inline-block;
}

[animate] .line {
  overflow: hidden;
  display: block;
  position: relative;
  height: auto;
}

/* Media queries */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 15px;
  }

  .hero-content {
    max-width: 100%;
    margin-bottom: var(--spacing-xl);
  }

  .hero-image {
    max-width: 80%;
  }

  .main-title,
  .subtitle {
    font-size: 60px;
  }

  .hero-buttons {
    flex-direction: column;
    justify-content: center;
  }

  .hero-tagline {
    font-size: 36px;
  }
}
